.git
.github
android
ios
.data
.data/paradedb_data
.data/paradedb_data/**
.data/
.data/**
/.data
/.data/
/.data/**
**/.data
**/.data/
**/.data/**
paradedb_data
paradedb_data/**
**/paradedb_data
**/paradedb_data/**

node_modules
node_modules/
node_modules/**
/node_modules
/node_modules/
/node_modules/**
**/node_modules
**/node_modules/
**/node_modules/**
**/.turbo
**/.next/cache

**/.medusa
**/dist
**/build
**/coverage

**/.env
**/.env.*

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
